.sidebar {
    background: #333;
    color: white;
    height: auto;
    padding: 20px;
    transition: width 0.3s ease;
}

.sidebar.open {
    width: 200px;
}

.sidebar.collapsed {
    width: 0;
    padding: 0;
}

.sidebar.collapsed ul {
    display: none;
  }

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #4CAF50;
}